@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-LightItalic.woff') format('woff');font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Gotham';
  font-weight: 300;
  line-height: 1.42;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
.wrapper {
  height: 100%
}

.wrapper {
  box-sizing: border-box;
  
  padding-bottom: 77px;
}

/*
* Главная страница
*/

.header {
  background: #27273E;
}

.contacts {
  float: right;
}

.contacts-phone {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
}

.contacts-schedule__link {
  color: rgba(119,152,201, .7);
  font-weight: bold;
}

/*
* Боковое меню
*/

.sidebar {
  
}

.nav-menu {
  list-style: none; 
}

.nav-menu__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #ec1e79;
  position: relative;
  padding-left: 39px;
  text-transform: uppercase;
  line-height: 4;

}

.nav-menu__link::before {
  content: '';
  position: absolute;
  font-size: 12px;
  left: 0px;    
}

.nav-menu__main::before {
  width: 17px;
  height: 15px;
  background-image: url(../img/icon/main_icon_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -3px; 
}

.nav-menu__prise::before {
  width: 19px;
  height: 16px;
  background-image: url(../img/icon/wallet_icon_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -3px;
}
.nav-menu__comment::before {
  width: 21px;
  height: 19px;
  background-image: url(../img/icon/feed_icon_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -3px;
}

.nav-manu__main-active{
  color: #000;
}

.nav-manu__main-active::before {
  width: 17px;
  height: 15px;
  background-image: url(../img/icon/main_icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*
* Основной контент
*/

.main-content {
  max-width: 720px;
}

.page-text__list {
  list-style-type: none;
}

.page-text__list::before {
    color: #ec1e79; 
    content: "•"; 
   padding-right: 14px;
}

.description {
  background-color: #27273e;
  color: #fff;
}
.description span{
  color: #ec1e79;
}


.partners__item {
  list-style-type: none;
}

/*
*подвал
*/

.footer {
  background: #27273e;
  height: 77px;
  margin-top: -77px;
  display: inline-block;
}

.copyrite {
  color: #fff;
   display: inline-block;
}

.copyrite a {
  color: #fff;
   font-weight: bold;
}

.copyrite span {
  font-weight: bold;
}

.footer-logo {
  display: inline-block;
}

.social-menu {
  color: #fff;
   display: inline-block;
}

.social-menu__item {
  margin: 0;
  padding: 4px;
}

.social-menu__list {
  list-style-type: none;
}

/*
*Cтраница отзывы
*/

.main-nav_link {
  color: #f04b94;
  font-style: italic; 
}

.main-nav_link-active {
  text-decoration: none;
  color: #4e4c4c;
}

.feedback__item {
  list-style-type: none;
}


.nav-manu__feedback-active {
  color: #000;
}

.nav-manu__feedback-active::before {
  width: 21px;
  height: 19px;
  background-image: url(../img/icon/feed_icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -6px;
}

.page-scroll__item {
  list-style-type: none;
}

.page-scroll__number {
  display: inline-block;
}

.page-scroll__link {
  text-decoration: none;
}

/*
*Cтраница тарифы
*/

.nav-manu__prices-active {
  color: #000;
}

.nav-manu__prices-active::before {
  width: 21px;
  height: 19px;
  background-image: url(../img/icon/wallet_icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -3px;
}