/* .page {
  margin-top: -7px;
} */


.page-image {
  margin-bottom: 14px;
}

.page-image__picture {
  background-image: url("/img/bg/aoc1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 355px;
  width: 880px;

}

.page-image__title {
  position: absolute;
  top: 162px;
  left: 67px;
}

.page-image__text {
  font-size: 49px;
  color: #fff;
  text-transform: uppercase;
}

.page-width {
  padding-right: 210px;
}

.page-text p {
  padding-bottom: 12px;
}

.page-text h3 {
  padding-bottom: 11px;
}

.page-text ul {
  margin-left:19px;
  margin-bottom: 3px;
}

.page-text__list {
  list-style-type: none;
  padding-bottom: 6px;
}

.page-text__list::before {
    color: #ec1e79; 
    content: "•"; 
   padding-right: 14px;
}

.description {
  background-color: #27273e;
  color: #fff;
  padding: 20px 50px 20px 60px;
  margin-bottom: 75px;
  margin-top: 25px;
  padding: 12px 10px 12px 31px;
}
.description span{
  color: #ec1e79;
  font-weight: bold;
}

.partners__title {
  font-size: 49px;
  text-transform: uppercase
}

.partners__item {
  list-style-type: none;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 30%;
  padding-top: 19px;
  margin-top: 31px; 
  margin-right: 15px;
}

.partners__link {
  display: table-cell;
  vertical-align: middle;
  
}