.footer {
  background: #27273e;
   display: inline-block; 
  min-width: 100%;
  font-size: 14px;
}


.copyrite {
  color: #fff;
  display: inline-block;
  /* padding-top: 8px; */
}

.copyrite a {
  color: #fff;
   font-weight: bold;
}

.copyrite span {
  font-weight: bold;
}

.footer-logo {
  display: inline-block;
  padding-left: 216px;
  /* text-align: center; */
  padding-top: 12px;
}

.social-menu {
  color: #fff;
  display: inline-block;
  /* min-width: 33%; */
  text-align: right;
  /* padding-left: 50px; */
  padding-top: 10px;
  margin-left: 290px;
}

.social-menu__title {
  padding-left: 5px;
   /* text-align: right; */
   font-weight: bold;
}

.social-menu__list {
  margin: 0;
  padding: 4px;
}

.social-menu__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 7px;
}

.social-menu__icon {
  background: url("/img/icon/sprite_worcadium.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
}

.social-menu__icon:hover {
  background-position-y: -170px;
}


.social-menu__vk {
  background-position: -288px -50px;
}

.social-menu__fb {
  background-position: -408px -50px;
}

.social-menu__g {
  background-position: -528px -50px;
}

.social-menu__tw {
  background-position: -648px -50px;
}

.social-menu__mail {
  background-position: -768px -50px;
}

.social-menu__item:hover {
 background-position-y: -170px;
}