.price {
  margin-bottom: 60px;
}

.price__title {
  font-size: 49px;
  margin-bottom: 32px;
}  

.price__item {
  display: inline-block;
  width: 250px;
  min-height: 400px;
  vertical-align: top;
  text-align: center;
  margin-right: 59px; 
  margin-bottom: 13px;
}

.price__item:nth-child(3n+3) {
  margin-right: 0px;
}

.price__link {
  position: relative;
  background-color: #27273e;
  border-radius: 3px;
  height: 155px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.price__img {
  opacity: 0.15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
 
}

.price__link-title {
  color: #5dd1f8;
  font-size: 24px;
  display: inline-block;
  width: 100%;
  position: absolute;
  padding: 0 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.price__link-vip {
  color: #ec1e79;
}

.price__name {
  margin-bottom: 7px;
}

.price__name-title {
   font-size: 18px;
   color: #221f1f;
}

.price__text {
  font-size: 14px;
  color: #221f1f;
}