/*
* Боковое меню
*/

.sidebar {
  float: left;
  width: 180px;
  margin-top: 41px;
}

.nav-menu {
  list-style: none; 
}

.nav-menu__item {
  display: inline-block;
  margin-bottom: 24px;
}

.nav-menu__link {
  text-decoration: none;
}

.nav-menu__icon {
  display: inline-block;
  background: url("../../img/icon/sprite_worcadium.png") -170px -50px no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 16px;
}

.nav-menu__text {
  font-size: 12px;
  color: #ec1e79;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  max-width: 120px;
}

.nav-menu__icon-price {
  background-position-x: -888px;
}

.nav-menu__icon-feedback {
  background-position-x: -50px;
}

.nav-menu__link:hover .nav-menu__icon {
  background-position-y: -170px;
}

.nav-menu__link:hover .nav-menu__text{
  color: #000;
}

.nav-menu__icon-feedback {
  background-position-x: -50px;
}

.nav-menu-active .nav-menu__link  {
  cursor: default;
}

.nav-menu-active .nav-menu__icon-main {
  background-position: -170px -170px;
}

.nav-menu-active .nav-menu__icon-price {
  background-position: -888px -170px;
}

.nav-menu-active .nav-menu__icon-feedback {
  background-position: -50px -170px;
}

.nav-menu-active .nav-menu__text {
  color: #000;
}