/*
* Боковое меню
*/

.sidebar {
  float: left;
  width: 180px;
  margin-top: 40px;
}

.nav-menu {
  list-style: none; 
}

.nav-menu__item {
  display: inline-block;
  margin-bottom: 24px;
  width: 160px;
}

.nav-menu__link {
  text-decoration: none;
}

.nav-menu__icon-wrap {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.nav-menu__icon {
  background: url("../../img/icon/sprite_worcadium.png") -170px -50px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
}

.nav-menu__link:hover .nav-menu__icon-main {
  opacity: 0;
}

.nav-menu__link:hover .nav-menu__icon-main_hover {
  opacity: 1;
}

.nav-menu__icon-main_hover {
  background-position: -170px -170px;
  opacity: 0; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.nav-menu__icon-main {
  background-position: -170px -50px;
  opacity: 1; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}


.nav-menu__link:hover .nav-menu__icon-price {
  opacity: 0;
}

.nav-menu__link:hover .nav-menu__icon-price_hover {
  opacity: 1;
}

.nav-menu__icon-price_hover {
  background-position: -888px -170px;
  opacity: 0; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.nav-menu__icon-price {
  background-position: -888px -50px;
  opacity: 1; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.nav-menu__link:hover .nav-menu__icon-feedback {
  opacity: 0;
}

.nav-menu__link:hover .nav-menu__icon-feedback_hover {
  opacity: 1;
}

.nav-menu__icon-feedback_hover {
  background-position: -51px -170px;
  opacity: 0; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  
}

.nav-menu__icon-feedback {
  background-position: -51px -50px;
  opacity: 1; 
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

.nav-menu__link .nav-menu__text{
  color: #ec1e79;
  transition: .5s;
}

.nav-menu__link:hover .nav-menu__text{
  color: #221f1f;
}


.nav-menu-active .nav-menu__link  {
  cursor: default;
}

.nav-menu-active .nav-menu__icon-main, .nav-menu-active .nav-menu__icon-main_hover {
  background-position: -170px -170px;
  transition: none;
  -webkit-transition: none;
}

.nav-menu-active .nav-menu__icon-price, .nav-menu-active .nav-menu__icon-price_hover {
  background-position: -888px -170px;
  transition: none;
  -webkit-transition: none;
}

.nav-menu-active .nav-menu__icon-feedback, .nav-menu-active .nav-menu__icon-feedback_hover {
  background-position: -51px -170px;
  transition: none;
  -webkit-transition: none;
}

.nav-menu__text {
  font-size: 12px;
  color: #ec1e79;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  max-width: 120px;
}

.nav-menu-active .nav-menu__text {
  color: #221f1f;
}